<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}:{% endif %} FAMILY LAW SOLUTIONS</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="{{ site.name }}" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- web fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,400italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ site.baseurl }}/skeleton-2.0.4/css/normalize.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/skeleton-2.0.4/css/skeleton.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/skeleton-2.0.4/css/custom.css" />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- scripts -->
  <script type="text/JavaScript" src="{{ site.baseurl }}/js/scroll-to.js"></script>

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

</head>
<body>

<!-- nav -->

<header class="container">
  <div class="row">
    <a href="/"><img src="images/3784 Family Law Solutions Logo Black.png" alt="{{ site.name }} logo" class="site-logo"></a>
    <nav>
      <ul>
        <li><a href="#profile" class="scroll-btn-profile">Profile</a></li>
        <li><a href="#services">Services</a></li>
      </ul>
    </nav>
    <a href="#contact" class="button button-primary contact-button">Contact</a>
  </div>
</header>

  <!-- primary content -->
  {{ content }}

</body>
</html>
